body{
    background-color: lightslategray;

}
h1{
    color: firebrick;
    text-align: center;
    margin: 0 auto;
}
ul{
    font-style:bold;
    list-style-type:none;
    margin: 0 auto;
    padding:0;
    width:150px;
    border:5px solid black;
    background-color: goldenrod;
  }
  li{
    text-align: center;
    border-bottom: 5px solid black;
    font-style: italic;
    font-size: 150%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  li a{
    
    color: rgb(6, 102, 97);
   
    text-decoration: none;
  }
  li a:hover {
    background-color: #555;
    color: white;
  }
  